//fonts
$font_0: Georgia;
$font_1: Times New Roman;
$font_2: Serif;

body {
  font-family: $font_0, $font_1, $font_2;
}

.nav {
  height: 40px;
  background-color: #424242;

  p {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 8px;
  }
}

h1 {
  text-align: center;
  margin: auto;
}

.text {
  max-width: 60rem;
  margin: 2rem auto;
}

.bar rect {
  opacity: 0.5;
}

.dog {
  fill: #0091EA;
}

.cat {
  fill: #C62828;
}
